<h1>My awesome bookmarks</h1>

<ul>
  <% @Bookmarks.each do |bookmark| %>
    <li>
        <%= link_to bookmark.title, bookmark_path(bookmark), :style=>"color: #{bookmark.color};" %>
    </li>
  <% end %>
</ul>

<br>

<%= link_to "Add bookmarks", new_bookmark_path %>